<tr class="schedule-table-tutor-row" data-tutor-id="<%= tutor.id %>">

  <td class="schedule-table-tutor-name" colspan="8"><%= tutor.user.username %></td>
  
  <% tutor.schedule_for(day, 9, 19).each do |block| %>
  <td class="schedule-table-schedule-block schedule-block-<%= block[:type] %>" colspan="<%= block[:length] %>">

    <a href="<%= appointments_path(tutor, block[:time]) %>">&nbsp;</a>

  </td>      
  <% end %>

</tr>