<% provide(:title, "#{@days.first.strftime('%A %B %-d')} - #{@days.last.strftime('%A %B %-d')}") %>

<div id="schedule-container">
  
  <% @days.each do |day| %>
  <table class="schedule-table">
    <%= render partial: "schedule_header", locals: { day: day } %>

    <% @tutors.each do |tutor| %>
    <tr class="schedule-table-tutor-row" data-tutor-id="<%= tutor.id %>">
      <td class="schedule-table-tutor-name" colspan="8"><%= tutor.user.username %></td>
      <% tutor.schedule_for(day, 9, 19).each do |block| %>
      <td class="schedule-table-schedule-block schedule-block-<%= block[:type] %>" data-time="<%= block[:time] %>", colspan="<%= block[:length] %>"></td>      
      <% end %>
    </tr>
    <% end %>
  </table>
  <% end %>

</div>