<% provide(:title, 'Make Appointment') %>

<div id="appt-page-container">

<div id="new-appt-container">
  <form action="<%= make_appointment_path %>" id="new-appt-form" method="POST">
    <div class="appt-form-item-wrap">
      <div class="appt-form-label">
        <span id="appt-tutor-name">Tutor: <%= @tutor.user.username %></span>
      </div>
    </div>

    <hr>

    <div class="appt-form-item-wrap">
      <div class="appt-form-label">
        <span class="appt-form-required">*</span>
        <label for="subject">Subject</label>
      </div>
      <div class="appt-form-entry">
        <select name="subject" id="appt-subject">
          <option selected></option>
          <% @tutor.subjects.each do |subject| %>
          <option value="<%= subject.id %>"><%= subject.course_number %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="appt-form-item-wrap">
      <div class="appt-form-label">
        <span class="appt-form-required">*</span>
        <label for="length">Appointment Length</label>
      </div>
      <div class="appt-form-entry">
        <input type="radio" name="length" value="15" class="appt-length" checked="checked">15 minutes
        <input type="radio" name="length" value="30" class="appt-length">30 minutes
      </div>
    </div>

    <div class="appt-form-item-wrap">
      <div class="appt-form-label">
        <span id="appt-form-notes-required" class="appt-form-required hidden">*</span>
        <label for="notes">I want to work on:</label>
        <p class="appt-form-explanation">
          Please be specific, it gives your tutor an opportunity to prepare beforehand.
        </p>
      </div>
      <div class="appt-form-entry">
        <textarea name="notes" id="appt-notes"></textarea>
      </div>
    </div>

    <div class="appt-form-item-wrap">
      <div class="appt-form-buttons-wrap">
        <button type="button" id="appt-button-submit">Save</button>
        <button type="button" id="appt-button-cancel">Cancel</button>
      </div>
    </div>
    
    <input type="hidden" name="tutor_id" value="<%= @tutor.id %>">
    <input type="hidden" name="client_id" value="<%= @client.id %>">
    <input type="hidden" name="start_time" value="<%= @start_time %>">

  </form>
</div>

</div>
