<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

<div id="header">
  <div id="header-banner">
     <h1>
       BRCC Center for Academic Vision and Excellence
     </h1>
  </div>
  <div id="top-nav">
    <p class="spacer nav-item"></p>
    <% if current_user.nil? %>
      <%= link_to "Register", register_path, class: 'nav-item nav-right' %>
      <%= link_to "Login", login_path, class: 'nav-item nav-right' %>
    <% else %>
      <%= link_to "Logout", logout_path, class: 'nav-item nav-right', method: :delete %>
      <span class="nav-item nav-right">Logged in as <%= link_to current_user.username, user_path(current_user) %></span>
    <% end %>
  
  </div>
</div>

<% flash.each do |key, value| %>
  <div class='flash flash-<%= key %>'>
    <p class='flash-message-<%= key %>'><%= value %></p>
  </div>
<% end %>

<div id="content">
<%= yield %>
</div>

<div id="footer">
  <div class="footer-content">
    <p>
      The CAVE provides tutoring services free of charge to any registered student at BRCC.
    </p>
    <div id="bottom-nav">
      <%= link_to "BRCC", '//www.brcc.edu/', class: 'nav-item' %>
      <%= link_to "Center for Academic Vision and Excellence", '//www.brcc.edu/services/peer/', class: 'nav-item' %>
    </div>
  </div>
</div>

</div>
</body>
</html>
