<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-nav">
  <% if current_user.nil? %>
    <%= link_to "Login", login_path, class: 'nav-item' %>
  <% else %>
    <%= link_to "Logout", logout_path, class: 'nav-item', method: :delete %>
  <% end %>
</div>

<% flash.each do |key, value| %>
  <div class='flash flash-<%= key %>'>
    <p class='flash-message-<%= key %>'><%= value %></p>
  </div>
<% end %>

<%= yield %>

</body>
</html>
