<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="header-banner">
     <h1>
       BRCC Center for Academic Vision and Excellence
     </h1>
  </div>
  <div id="top-nav">
    <% if current_user.nil? %>
      <p class="spacer nav-item"></p>
      <%= link_to "Register", register_path, class: 'nav-item' %>
      <%= link_to "Login", login_path, class: 'nav-item' %>
    <% else %>
      <%= link_to "Logout", logout_path, class: 'nav-item', method: :delete %>
    <% end %>

  </div>
</div>

<% flash.each do |key, value| %>
  <div class='flash flash-<%= key %>'>
    <p class='flash-message-<%= key %>'><%= value %></p>
  </div>
<% end %>

<%= yield %>

</body>
</html>
